@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-link-button {
    @apply flex items-center gap-5 self-start rounded-lg  px-6 py-3 text-sm font-medium  transition-colors;
  }
  .my-link-button:hover {
    @apply bg-blue-300;
  }

  .my-link-button-blue {
    @apply bg-blue-500 text-white;
  }

  @screen md {
    .my-link-button {
      @apply text-base;
    }
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
