@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Barcelony';
    src: url("/fonts/Barcelony.ttf");
  }
}

@layer components {
  .my-link-button {
    @apply flex items-center gap-5 self-start rounded-lg  px-6 py-3 text-sm font-medium  transition-colors;
  }
  .my-link-button:hover {
    @apply bg-blue-300;
  }

  .my-link-button-blue {
    @apply bg-blue-500 text-white;
  }

  @screen md {
    .my-link-button {
      @apply text-base;
    }
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
